<!-- show prospects -->

<h3 class="box-title">Recent Contacts</h3>
  	<div class="table-responsive">
      	<table class="table">
          	<thead>
              	<tr>
                  	<th>NAME</th>
                  	<th>EMAIL</th>
                      <th></th>
                      <th></th>
                      <th></th>
                </tr>
            </thead>
        <tbody>
        	<%= render prospects %>
        </tbody>
    </table>
</div>