<!-- start -->

<div id="page-wrapper">
  <div class="container-fluid">

    <%= render 'layouts/navbar_top' %>
        
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>

  <!-- /.row -->

  <!-- ============================================================== -->
  <!-- table -->
  <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="white-box">
              <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                  <select class="form-control pull-right row b-none">
                      <option>March 2017</option>
                      <option>April 2017</option>
                      <option>May 2017</option>
                      <option>June 2017</option>
                      <option>July 2017</option>
                  </select>
              </div>
              <%= render 'show_contacts', prospects: @prospects %>
              <%= link_to 'New Prospect', new_prospect_path, class: 'btn btn-success' %>
          </div>
      </div>
    </div>

  </div>
</div>